.app {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
  }
  
  .header {
    text-align: center;
    margin-bottom: 30px;
    color:rgb(51, 13, 167);
  }
  
  h2{
    color: rgb(255, 94, 0);
  }
  .transaction-form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .transaction-form input {
    padding: 8px;
    font-size: 15px;
  }
  
  .transaction-list ul {
    list-style: none;
    padding: 0;
  }
  
  .transaction-list li {
    background: #f4f4f4;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
  }
  
  .chart-container {
    margin-top: 40px;
  }
  
  .button{
    padding: 8px;
    font-size: 13px;
    background-color: rgb(14, 14, 156);
    color: white;
    border: none;

  }

  .deletebtn{
    padding: 8px;
    font-size: 13px;
    background-color:red;
    color: white;
    border: none;

  }

  .editbtn{
    padding: 8px;
    font-size: 13px;
    background-color:rgb(39, 171, 223);
    color: white;
    border: none;
    margin: 20px;

  }

  .cancelbtn{
    padding: 8px;
    font-size: 13px;
    background-color: rgb(4, 4, 21);
    color: white;
    border: none;

  }